@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0; /* Set the margin to 0 (don't touch this) */
}

html {
  scroll-behavior: smooth; /* smooth scroll on the page */
}

body {
    background-color: #F5F2E4; /* Change the background color of the page */
    color: black; /* Modify the text color */
    font-family: "Montserrat"; /* Change the typo */

    h1, h2, h3, h4, h5, h6 {
        font-family: "Inter";
    }
}

#header {
  display: flex;
  justify-content: space-around;
  background-color: #6E481F;
  color: white;
  padding: .8rem 0;
  position: relative;

  #logo {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
  }

  /* --------- NAV DESKTOP (par défaut) --------- */
  .header-nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;

      li {
        display: flex;
        align-items: center;
        padding-inline: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.1rem;

        .header-nav-li {
          text-decoration: none;
          color: white;
          transition: 0.3s;
        }

        .header-nav-li:hover {
          transition: 0.3s ease, transform 0.3s ease;
          transform: translateY(-2px);
          border-bottom: 1px solid white;
        }
      }
    }
  }

  /* --------- BURGER DESKTOP : caché --------- */
  .header-burger {
    display: none;
  }

  /* --------- VERSION MOBILE --------- */
  @media (max-width: 1024px) {

    /* burger visible */
    .header-burger {
      display: flex;
      align-items: center;
      border-radius: 10px;
      background: none;
      border: none;
      cursor: pointer;
      z-index: 10; /* pour rester au-dessus du menu */
    }

    /* nav cachée par défaut */
    .header-nav {
      display: none;
    }

    /* nav quand le menu est ouvert */
    .header-nav.nav-open {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #6e481fbd;
      padding: 20px 0;
      z-index: 5;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

        li {
          padding: 0.5rem 0;

          .header-nav-li:hover {
          transition: 0.3s ease, transform 0.3s ease;
          transform: translateX(2px);
          }
        }
      }
    }
  }
}

#hero {
    background-image: url("../../images/carpenter.png"); /* Set the background image */
    background-position: center; /* The background image will be centered */
    background-repeat: no-repeat;
    min-height: 40rem; /* Set a minimum amount of height to allows the full render of the background image */
    color: white;
    box-shadow: 0 3px #6E481F;

    div {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding: 3rem 0;
        gap: 5rem;

        h1 {
            font-size: 5rem;
            font-weight: 400;

            @media (width <= 480px) {
                display: none;
            }
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 200;
            letter-spacing: 1px;
        }

        .button-hero {
            display: inline-block;
            align-self: flex-start;
            background-color: rgba(110, 72, 31, 0.7);
            letter-spacing: 2px;
            text-decoration: none;
            color: white;
            padding: 0.9rem 1.8rem;
            box-shadow: 2px 2px 2px #6E481F;
            border-radius: 6px;
            font-weight: 600;
            text-decoration: none;
            transition: 0.2s;

            @media (width <= 480px) {
              align-self: center;
            }
        }

        .button-hero:hover {
            background-color: #6E481F;
            box-shadow: none;
            transition: color 0.3s ease, transform 0.3s ease;
            transform: translateY(1px) translateX(1px);
        }
    }

    @media (width <= 480px) {
        min-height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 0;
    gap: 3rem;

    h3 {
        font-size: 2.5rem;
        letter-spacing: 1px;
    }

    #servicescontent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;

        #content {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h4 {
                font-weight: 500;
                font-size: 1.3rem;
                max-width: 12rem;
            }

            img {
                max-width: 12rem;
                min-width: 12rem;
                max-height: 13rem;
                min-height: 13rem;
                border-radius: 7px;
                transition: color 0.3s ease, transform 0.3s ease;
            }

            img:hover {
                transition: color 0.5s ease, transform 0.5s ease;
                transform: translateY(-10px);
            }
        }

    }
}

#process {
    background-color: #FFFDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 0;
    gap: 3rem;

    h3 {
        font-size: 2.5rem;
        letter-spacing: 1px;
    }

    #processcontent {
        display: flex;

        .process-box {
            display: flex;
            align-items: start;

            .process-step {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                min-width: 10rem;

                img {
                    width: 50%;
                    min-width: 100px;
                    flex: 0 0 auto;
                }

                h4 {
                font-weight: 500;
                font-size: 1.3rem;
                max-width: 12rem;
                }

                p {
                    max-width: 10rem;
                }

            }

            .arrow {
                display: flex;
                align-self: center;
                padding-bottom: 2rem;
                stroke-width: 3;
                flex-shrink: 0;

                @media (width <= 768px) {
                transform: rotate(90deg);
                padding: 2rem 0;
                }
            }

            @media (width <= 768px) {
                flex-direction: column;
            }
        }

        @media (width <= 768px) {
            flex-direction: column;
        }
    }
}

#works {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 0;
    gap: 3rem;

    h3 {
        font-size: 2.5rem;
        letter-spacing: 1px;
    }

    #workscontent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        max-width: 80rem;

        #content {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h4 {
                font-weight: 500;
                font-size: 1.3rem;
                max-width: 12rem;
            }

            img {
                max-width: 12rem;
                min-width: 12rem;
                max-height: 13rem;
                min-height: 13rem;
                border-radius: 7px;
                transition: color 0.3s ease, transform 0.3s ease;
            }

            img:hover {
                transition: color 0.5s ease, transform 0.5s ease;
                transform: translateY(-10px);
            }

            p {
                margin-top: -0.8rem;
                padding-bottom: 1rem;
                font-style: italic;
            }
        }

    }
}

#pricing {
    background-color: #FFFDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 0;
    gap: 3rem;

    h3 {
        font-size: 2.5rem;
        letter-spacing: 1px;
    }

    #pricing-description {
      text-align: center;
      margin-top: -2rem;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }

    #pricingcontent {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8rem;

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #eadbc7;
            padding: 1.5rem 1rem;
            border-radius: 20px;
            box-shadow: 0 4px 18px rgba(0,0,0,0.08);
            width: 15rem;
            height: 20rem;
            gap: 2rem;

            h4 {
                font-size: 1.5rem;
                letter-spacing: 1px;
            }

            h5 {
                font-size: 1rem;
                letter-spacing: 1px;
            }

            ul {
              display: flex;
              flex-direction: column;
              gap: 0.8rem;
            }

            .button-pricing {
                margin-top: auto;
                background-color: rgba(110, 72, 31, 0.7);
                letter-spacing: 2px;
                text-decoration: none;
                color: white;
                padding: 0.9rem 1.8rem;
                box-shadow: 2px 2px 2px #6E481F;
                border-radius: 6px;
                font-weight: 600;
                text-decoration: none;
                transition: 0.2s;
            }

            .button-pricing:hover {
                background-color: #6E481F;
                box-shadow: none;
                transition: color 0.3s ease, transform 0.3s ease;
                transform: translateY(1px) translateX(1px);
            }
        }

        .featured {
          
          h4 {
            display: flex;
            justify-content: center;
            width: 60%;
            color: white;
            background-color: #6e481fcc;
            padding: 1rem 4rem;
          }
        }
    }
}

#contactform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 0;
    gap: 3rem;

    h3 {
        font-size: 2.5rem;
        letter-spacing: 1px;
    }

    #contact-description {
      text-align: center;
      margin-top: -2rem;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        #name-email {
            display: flex;
            gap: 3rem;

            @media (width <= 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
            }
        }

        input, select, textarea {
            border: none;
            outline: none;
            padding: 0.4rem 4rem 0.4rem 0.4rem;
            border-radius: 5px;
            background-color: #FFFDED;
            box-shadow: 5px 3px 5px rgba(0,0,0,0.1);
            font-family: "Montserrat";

            @media (width <= 480px) {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              justify-self: center;
              width: 80%;
            }
        }

        input:focus, select:focus, textarea:focus {
          box-shadow: 0 0 1px 1px #A38A68;
          background-color: #FFFDED;
        }

        #button-form {
            margin-top: auto;
            background-color: rgba(110, 72, 31, 0.7);
            letter-spacing: 2px;
            text-decoration: none;
            color: white;
            padding: 0.9rem 1.8rem;
            box-shadow: 2px 2px 2px #6E481F;
            border: none;
            font-family: "Montserrat";
            border-radius: 6px;
            font-weight: 600;
            text-decoration: none;
            transition: 0.2s;
        }

        #button-form:hover {
            background-color: #6E481F;
            box-shadow: none;
            transition: color 0.3s ease, transform 0.3s ease;
            transform: translateY(1px) translateX(1px);
        }

        @media (width <= 480px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

#contact-content {
    background-color: #FFFDED;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 3rem 0;
    gap: 3rem;

    #contact-details {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h4 {
          font-size: 2rem;
          letter-spacing: 1px;
          padding-bottom: 2rem;

          @media (width <= 360px) {
            text-align: center;
          }
      }

      .contact-p {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      .highlight {
        letter-spacing: 1px;
        font-weight: 500;
        background-image: linear-gradient(
          to top,
          rgba(206, 172, 135, 0.8) 40%,   /* bande jaune en bas */
          transparent 40%                /* partie du haut transparente */
        );
        background-repeat: no-repeat;
      }

      @media (width <= 360px) {
        width: 80%;
        font-size: 0.7rem;
      }
    }


    #contact-map {
      display: flex;
      justify-content: center;

      a {
        width: 70%;
      }

      img {
        width: 100%;
        border: 1px solid #6E481F;
        border-radius: 5px;
      }
    }

    @media (width <= 860px) {
        flex-direction: column;
        align-items: center;
    }
}

#footer {
    display: flex; /* Create a flexbox */
    flex-direction: column;
    align-items: center;
    background-color: #6E481F; /* Modify the background color of the header */
    color: white; /* Modify the text color of the section */
    padding: .8rem 0; /* Create a space on top and bottom of the header */
    gap: 2rem;

    #footercontent{
        display: flex;
        gap: 2rem;

        #footer-hero {
          display: flex;
          flex-direction: column;
          width: 25rem;

          #logo {
            font-size: 2rem; /* Set the size of the text of the logo */
            font-weight: 500; /* Set the bold of the logo */
            letter-spacing: 0.2rem; /* Set the letter spacing of the logo */
            padding-bottom: 0.5rem;
          }

          p {
            letter-spacing: 0.1rem;
            text-align: justify;

            @media (width <= 860px) {
            text-align: center;
            }
          }

          @media (width <= 860px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 80%;
          }

          @media (width <= 480px) {
            width: 80%;
          }
        }

        .footer-separator {
          width: 1px;
          background: rgba(255,255,255,0.3);

          @media (width <= 860px) {
            display: none;
          }
        }

        #footer-links {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
          width: 15rem;

          h5 {
            font-size: 1.5rem;
            letter-spacing: 1px;
          }

          ul {
            display: flex; /* Create a flexbox */
            flex-direction: column;
            align-items: center;
            padding: 0;

            li {
                display: flex; /* Create a flexbox */
                font-weight: 500; /* Change the bold of the text in the list */
                letter-spacing: 0.1rem; /* Modify the spacing in the text of the list */

                .footer-nav {
                    text-decoration: none;
                    color: white;
                    transition: 0.3s;
                }

                .footer-nav:hover {
                    transition: 0.3s ease, transform 0.3s ease;
                    transform: translateX(2px);
                    text-decoration: underline;
                }
            }
          }
        }

        #footer-contact {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          width: 25rem;

          h5 {
            font-size: 1.5rem;
            letter-spacing: 1px;
          }

          @media (width <= 860px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 80%;
          }
        }

        @media (width <= 1200px) {
            width: 80%;
        }

        @media (width <= 860px) {
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
          }
    }
}