@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0; /* Set the margin to 0 (don't touch this) */
}

html {
  scroll-behavior: smooth; /* smooth scroll on the page */
}

body {
    background-color: #F5F2E4; /* Change the background color of the page */
    color: black; /* Modify the text color */
    font-family: "Montserrat"; /* Change the typo */

    h1, h2, h3, h4, h5, h6 {
        font-family: "Inter";
    }
}

#header {
    display: flex; /* Create a flexbox */
    justify-content: space-around; /* Create a space between and around the logo and the navbar */
    background-color: #6E481F; /* Modify the background color of the header */
    color: white; /* Modify the text color of the section */
    padding: .8rem 0; /* Create a space on top and bottom of the header */

    #logo {
        font-size: 2rem; /* Set the size of the text of the logo */
        font-weight: 500; /* Set the bold of the logo */
        letter-spacing: 0.2rem; /* Set the letter spacing of the logo */

        @media (width <= 1024px) {
            display: none;
        }
    }

    div {
        display: flex; /* Create a flebox */
        align-items: center; /* Center the content in the <div> */

        ul {
            display: flex; /* Create a flexbox */

            li {
                display: flex; /* Create a flexbox */
                align-items: center; /* Align the items in the box */
                padding-inline: 1.5rem; /* Change the padding inline of the list */
                font-weight: 500; /* Change the bold of the text in the list */
                letter-spacing: 0.1rem; /* Modify the spacing in the text of the list */

                .nav {
                    text-decoration: none;
                    color: white;
                    transition: 0.3s;
                }

                .nav:hover {
                    transition: 0.3s ease, transform 0.3s ease;
                    transform: translateY(-2px);
                    border-bottom: 1px solid white;
                }

                img {
                    max-height: 60%; /* Modify the height of the search button */
                }
            }
        }
    }
}

#hero {
    background-image: url("./src/assets/carpenter.png"); /* Set the background image */
    background-position: center; /* The background image will be centered */
    background-repeat: no-repeat;
    min-height: 40rem; /* Set a minimum amount of height to allows the full render of the background image */
    color: white;
    box-shadow: 0 3px #6E481F;

    div {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding: 3rem 0;
        gap: 5rem;

        h1 {
            font-size: 5rem;
            font-weight: 400;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 200;
            letter-spacing: 1px;
        }

        #button {
            display: inline-block;
            align-self: flex-start;
            background-color: rgba(110, 72, 31, 0.7);
            letter-spacing: 2px;
            text-decoration: none;
            color: white;
            padding: 0.9rem 1.8rem;
            box-shadow: 2px 2px 2px #6E481F;
            border-radius: 6px;
            font-weight: 600;
            text-decoration: none;
            transition: 0.2s;
        }

        #button:hover {
            background-color: #6E481F;
            box-shadow: none;
            transition: color 0.3s ease, transform 0.3s ease;
            transform: translateY(1px) translateX(1px);
        }
    }
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 0;
    gap: 3rem;

    h3 {
        font-size: 2.5rem;
        letter-spacing: 1px;
    }

    #servicescontent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;

        #content {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h4 {
                font-weight: 500;
                font-size: 1.3rem;
                max-width: 12rem;
            }

            img {
                max-width: 12rem;
                min-width: 12rem;
                max-height: 13rem;
                min-height: 13rem;
                border-radius: 7px;
                transition: color 0.3s ease, transform 0.3s ease;
            }

            img:hover {
                transition: color 0.5s ease, transform 0.5s ease;
                transform: translateY(-10px);
            }
        }

    }
}

#process {
    background-color: #FFFDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 0;
    gap: 3rem;

    h3 {
        font-size: 2.5rem;
        letter-spacing: 1px;
    }

    #processcontent {
        display: flex;

        .process-box {
            display: flex;
            align-items: start;

            .process-step {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                min-width: 10rem;

                img {
                    width: 50%;
                    min-width: 100px;
                    flex: 0 0 auto;
                }

                h4 {
                font-weight: 500;
                font-size: 1.3rem;
                max-width: 12rem;
                }

                p {
                    max-width: 10rem;
                }

            }

            .arrow {
                display: flex;
                align-self: center;
                padding-bottom: 2rem;
                stroke-width: 3;
                flex-shrink: 0;

                @media (width <= 768px) {
                transform: rotate(90deg);
                padding: 2rem 0;
            }
            }

            @media (width <= 768px) {
                flex-direction: column;
            }
        }

        @media (width <= 768px) {
            flex-direction: column;
        }
    }
}